version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 15

  - package-ecosystem: 'cargo'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
