body {
  font-family: poppins;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: grey;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1rem;
  font-weight: normal;
}

body {
  background-color: black;
}
